<!DOCTYPE html>
<html lang="en-US">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ALog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <div class="container">
            <div ng-app="ALog" ng-controller="Ctrl">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li id="navPageALog" class="active">
                                    <a href="#" ng-click="ShowALog()" class="navbar-brand">Audio Log</a>
                                </li>
                                <li id="navPageAbout">
                                    <a href="#" ng-click="ShowAbout()">About</a>
                                </li>
                                <li id="navPageLog">
                                    <a href="#" ng-click="ShowLog()">Logs</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </nav>
                <br></br>
                <br></br>
                <div ng-hide="hidingALog" class="ng-hide">
                    <h1>Welcome to the Voice Recognition System Audio Logger</h1>
                    <p>This application allows for quick and easy mangement of the Voice Recognition System's audio files via a search box. Just
                        type in what you are looking for, antything from the Case Id Number to who took the call, and the results will be listed
                        below. Here is a detailed explanation of the information that is given to you.</p>
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <textarea placeholder="Search" readonly="true" class="input-sm form-control"></textarea>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Case Id</th>
                            <th>Audio</th>
                            <th>CustName</th>
                            <th>CSR</th>
                            <th>Play</th>
                            <th>Link</th>
                        </tr>
                            <tr>
                                <td>45</td>
                                <td>jSmith986.mp3</td>
                                <td>John Smith</td>
                                <td>Sally Jackson</td>
                                <td>
                                    <audio controls="controls" preload="metadata">
                                        <source src="" type="audio/mp3"></source>
                                    </audio>
                                </td>
                                <td>
                                    <a href="#">Download</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Case number associated with the file</td>
                                <td>The name of the audio file</td>
                                <td>Name of the customer who made the call</td>
                                <td>Name of the employee who answered the call</td>
                                <td>Standard audio player with pause, play, seek, and volume</td>
                                <td>Click on this link to download the audio file</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-hide="hidingAbout" class="ng-hide">
                    <h1 ng-click="showDescription=!showDescription">Description</h1>
                    <p ng-show="showDescription">This project is a web application that works with voice recognizer software. The software captures customer complaints recorded
                        when the customer gives feedback and response for the customer support executive's call. All of the files can be searched
                        and filtered by using the textbox. The system allowed users to access audio samples by via the page and via download.</p>
                    <h1 ng-click="showTech=!showTech">Technologies used:</h1>
                    <ul ng-show="showTech">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>AngularJS</li>
                        <li>Bootstrap</li>
                        <li>Smart-Table</li>
                        <li>AJAX</li>
                        <li>JSON</li>
                    </ul>
                    <h1 ng-click="showCreator=!showCreator">Created by: </h1>
                    <h4 ng-show="showCreator">Stephen Cross</h4>
                </div>
                <div class="table-responsive ng-hide" ng-hide="hidingLog">
                    <table st-table="displayFiles" st-safe-src="safeFiles" class="table-striped">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <input st-search="" placeholder="Search" class="input-sm form-control" type="search"></input>
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="caseId">Case Id</th>
                                <th st-sort="audio">Audio</th>
                                <th st-sort="custName">CustName</th>
                                <th st-sort="csr">CSR</th>
                                <th>Play</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in displayFiles">
                                <td>{{row.caseId}}</td>
                                <td>{{row.audio | uppercase}}</td>
                                <td>{{row.custName}}</td>
                                <td>{{row.csr}}</td>
                                <td>
                                    <audio controls="controls" preload="metadata">
                                        <source src={{Source(row.audio)}} type="audio/mp3"></source>
                                    </audio>
                                </td>
                                <td>
                                    <a href="#" ng-click=download(row.audio)>Download</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="numPages"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
            <script src="Scripts/smart-table.js"></script>
            <script src="Scripts/AngularController.js"></script>
        </div>
    </body>

</html>